@import './theme.scss';

html,
body {
  margin: 0;
  padding: 0;
  background-color: $white;
  font-family: $body-font;
  color: $black;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

// Text

.title {
  font-family: $title-font;
  font-weight: $title-font-weight;
  font-size: $title-font-size;
}

.medium-title {
  font-family: $title-font;
  font-weight: $title-font-weight;
  font-size: $big-font-size;
}

.small-title {
  font-family: $title-font;
}

.xs-title{
  font-family: $title-font;
  font-size: $small-font-size;
}

.cta {
  font-family: $cta-font;
  font-weight: $cta-font-weight;
  font-size: $cta-font-size;
  transition: all .2s ease-in-out;
}

.big-cta {
  font-family: $cta-font;
  font-weight: $light-weight;
  font-size: $medium-font-size;
  transition: all .2s ease-in-out;
}

.cta:hover{
  transform: scale(1.05)
}

.big-cta:hover{
  transform: scale(1.1)
}

.red-filled {
  background-color: $red;
  color: $white;
  display: inline-block;
  padding: 4px 8px;
}

.white-filled {
  background-color: $white;
  color: $red;
  display: inline-block;
  padding: 4px 8px;
}

.red {
  color: $red;
}

.pink {
  color: $pink;
}

.dark-grey{
  color: $dark-grey;
}

.bold {
  font-weight: $bold-weight;
}

.paragraph {
  line-height: 1.6em;
}

.small-text {
  font-size: $small-font-size;
}

.medium-text {
  font-size: $medium-font-size;
}

.big-text {
  font-size: $big-font-size;
}

.red-hover:hover{
  color: $red;
}

.pink-hover:hover{
  color: $pink;
}

.text-ellipsis{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.underlined-link{
  cursor: pointer;
  display: inline-block;
  background:  no-repeat 0 100%;
  background-image: linear-gradient($pink, $pink);
  background-size: 100% 2px;
  transition: background-size .2s ease;
}

.underlined-link:hover{
  background-size: 100% 8px;
}

.hover-link{
  cursor: pointer;
  display: inline-block;
  background:  no-repeat 0 100%;
  background-image: linear-gradient($pink, $pink);
  background-size: 0% 2px;
  transition: background-size .3s ease;
}

.hover-link:hover{
  background-size: 100% 2px;
}

// Blocks

.background-black{
  background-color: $black;
  color: $white;
}

.background-white{
  background-color: $white;
}

.background-grey{
  background-color: $dark-grey;
  color: $white;
}

.red-drop{
  box-shadow: $red-drop;
}

.red-drop-reverse{
  box-shadow: $red-drop-reverse;
}

.black-drop{
  box-shadow: $black-drop;
}

// Other

.click{
  cursor: pointer;
}

.icon-big{
  transform: scale(1.5);
}

.icon-small{
  transform: scale(0.8);
}

.input{
  border: 1px solid $dark-grey;
  padding: 4px 8px;
  margin: 8px 0;
  width: 100%;
  color: $dark-grey;
}

.input:focus{
  border: 1px solid $red;
  border-radius: 0;
}

.form-item{
  margin: 8px 4px;
}

.button{
  background-color: $red;
  color: $white;
  padding: 6px 12px;
  cursor: pointer;
  transition: transform .2s ease;
}

.button:hover{
  transform: scale(1.05);
  transition: transform .2s ease;
}

// Animations

.animate-bounce-hover{
  -webkit-animation: bounce-top 0.9s both;
	        animation: bounce-top 0.9s both;
}

.enlarge-hover{
  transition: transform .2s ease;
}

.enlarge-hover:hover{
  transform: scale(1.05);
  transition: transform .2s ease;
}