@import './theme.scss';

html,
body {
  margin: 0;
  padding: 0;
  background-color: $white;
  font-family: $body-font;
  color: $black;
}

// Text

.title {
  font-family: $title-font;
  font-weight: $title-font-weight;
  font-size: $title-font-size;
}

.medium-title {
  font-family: $title-font;
  font-weight: $title-font-weight;
  font-size: $medium-font-size;
}

.small-title {
  font-family: $title-font;
}

.cta {
  font-family: $cta-font;
  font-weight: $cta-font-weight;
  font-size: $cta-font-size;
}

.red-filled {
  background-color: $red;
  color: $white;
  display: inline-block;
  padding: 4px 8px;
}

.red {
  color: $red;
}

.bold {
  font-weight: $bold-weight;
}

.paragraph {
  line-height: 1.6em;
}

// Blocks

.background-black{
  background-color: $black;
  color: $white;
}

// Other

.click {
  cursor: pointer;
}

// Animations

.animate-bounce-hover{
  -webkit-animation: bounce-top 0.9s both;
	        animation: bounce-top 0.9s both;
}

