@import './theme.scss';

html,
body {
  margin: 0;
  padding: 0;
  background-color: $white;
  font-family: $body-font;
  color: $black;
}

// Text

.title {
  font-family: $title-font;
  font-weight: $title-font-weight;
  font-size: $title-font-size;
}

.medium-title {
  font-family: $title-font;
  font-weight: $title-font-weight;
  font-size: $big-font-size;
}

.small-title {
  font-family: $title-font;
}

.xs-title{
  font-family: $title-font;
  font-size: $small-font-size;
}

.cta {
  font-family: $cta-font;
  font-weight: $cta-font-weight;
  font-size: $cta-font-size;
  transition: all .2s ease-in-out;
}

.big-cta {
  font-family: $cta-font;
  font-weight: $light-weight;
  font-size: $medium-font-size;
  transition: all .2s ease-in-out;
}

.cta:hover{
  transform: scale(1.05)
}

.big-cta:hover{
  transform: scale(1.1)
}

.red-filled {
  background-color: $red;
  color: $white;
  display: inline-block;
  padding: 4px 8px;
}

.white-filled {
  background-color: $white;
  color: $red;
  display: inline-block;
  padding: 4px 8px;
}

.red {
  color: $red;
}

.pink {
  color: $pink;
}

.dark-grey{
  color: $dark-grey;
}

.bold {
  font-weight: $bold-weight;
}

.paragraph {
  line-height: 1.6em;
}

.medium-text {
  font-size: $medium-font-size;
}

.big-text {
  font-size: $big-font-size;
}

.red-hover:hover{
  color: $red;
}

.link{
  cursor: pointer;
  display: inline-block;
  //transition: all 0.2s ease-in-out;
}

// .link:before,
// .link:after{
//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
// }

// .link:hover{
//   background-color: $red;
//   color: $white;
//   //padding: 4px 8px;
//   display: inline-block;
// }

.link:hover{
  background: linear-gradient(
    to bottom,
    transparent 60%,
    $pink 40%
  )
}

// Blocks

.background-black{
  background-color: $black;
  color: $white;
}

.red-drop{
  box-shadow: $red-drop;
}

.red-drop-reverse{
  box-shadow: $red-drop-reverse;
}

// Other

.click {
  cursor: pointer;
}

.icon-big{
  transform: scale(1.5);
}

// Animations

.animate-bounce-hover{
  -webkit-animation: bounce-top 0.9s both;
	        animation: bounce-top 0.9s both;
}

