// FONTS
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

$body-font: 'Quicksand', sans-serif;

$nav-font: 'Lexend Deca', sans-serif;
$nav-font-weight: 300;

$title-font: 'Lexend Deca', sans-serif;
$title-font-weight: 400;
$title-font-size: 2em;

$cta-font: 'Lexend Deca', sans-serif;
$cta-font-weight: 400;
$cta-font-size: 0.9em;

$light-weight: 300;
$bold-weight: 500;
$big-font-size: 1.6em;
$medium-font-size: 1.2em;
$small-font-size: 0.9em;


// COLORS

$white: #fdfcf8;
$black: #131315;
$red: #c80226;
$pink: #e59b93;
$dark-grey: #514553;

$red-drop: 8px 8px 0 0 $red;
$red-drop-reverse: -8px 8px 0 0 $red;


// ANIMATIONS

@import "./animations.scss";

$bounce-top: bounce-top 0.9s both;

